body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    background-color: khaki;
    position: relative;
    padding: auto;
}
h1 {
    color: maroon;
    margin: auto;
    text-align: center;
}
h2 {
    text-align: center;
    text-decoration-line: underline;
}
h3 {

}
.mode {
    color: powderblue;
    text-align: center;
}
p {
    text-align: center;
    color: tan;
}
div {
    background-color: chocolate;
    color: moccasin;
    position: relative;
    padding: 55px;

}
img {
    border: 10px solid teal;
    width: 78%;
    height: auto;
    margin: 50px;
    padding: 100px;
    text-align: center;
}